{%extends 'base.html'%} {% include 'navbar.html' %} {%block body%} div id="content-wrapper">
<div class="container-fluid upload-details">

    <div class="row ml-5 p-3 text-left">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            {%for each in categories %}
            <div class="row">
                <div class="col-sm-6 m-0 p-2" style="border: 1px solid  #826cfd;">
                    {{each.categoryName}}
                </div>
                <div class="col-sm-6 m-0 p-2 text-center" style="border: 1px solid  #826cfd;">
                    {{each.c}}
                </div>
            </div>
            {%endfor%}
        </div>
        <div class="col-sm-2"></div>
    </div>



    {%if events %}
    <div class="row p-3 ml-5">


        {%for event in events%}
        <div class="col-sm-12">

            <div class="row">




                <div class="col-sm-4">
                    <img class="img-fluid p-5" src="{{url_for('static',filename=event.eventPhotoUrl)}}" style="border-radius:50%" alt="">
                </div>
                <div class="col-sm-5 mt-5">
                    <p>
                        <span class="my-label"> Event Name </span>
                        <span class="my-content">{{event.eventName}}</span>
                    </p>
                    <p>
                        <span class="my-label"> Event Description </span>
                        <span class="my-content">{{event.description}}</span>
                    </p>
                    <p>
                        <span class="my-label"> Event Link </span>
                        <span class="my-content"><a href="{{event.eventLink}}"> {{event.eventLink}}</a></span>
                    </p>
                    <p>
                        {%if event.happened%}<span class="my-label">Happened</span> {%else%}
                        <span class="my-label"> Upcoming</span> {%endif%}
                        <span class="my-content">{{event.date}}</span>
                    </p>
                </div>

                <div class="col-sm-3 mt-5">
                    <div class="row mb-3">
                        <div class="col-sm-12">

                            <a type="submit" class="btn btn-outline-primary btn-block btn-sm" href="{{url_for('event',eventId = event.eventId)}}">EVENT DETAIL</A>


                        </div>

                    </div>


                    <div class="row mb-3">
                        <div class="col-sm-12">

                        </div>

                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-12">

                        </div>

                    </div>
                </div>

            </div>
        </div>
        {%endfor%}


    </div>
    {%endif%}

</div>
<!-- /.container-fluid -->

</div>
{%endblock%}